:root{
    --off-white: #f8f5f2;
    --cinza-escuro: #333333;
--bege-quente:#ffd699;
--marrom-escuro:#5c3d2e;
--branco:#ffffff;
--marrom-medio:#8b5e3c;
--bege-claro:#f0e6dd;
--cinza-claro:#e6e6e6;
--preto-suave:#1a1a1a;



}